/* instagram-png



 */
.instagram-png{
   padding-left: 25px; 
}
.facebook-png{
   padding-left: 25px; 
}
.telegram-png{
    padding-left: 25px; 
 }
 .yutube-png{
    padding-left: 25px; 
 }
 .github-png{
    padding-left: 25px; 
 }
