 *{
   padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  sans-serif;
 }
 /*  justify-content: center;
     align-items:center;
     .border-radius:  16px
     border: 1px solid 
     */

body{
    background: #414141;
 }

.main-section{
    background: #ffff;
    width: 488px;
    height: 607px;
    border-radius: 26px;
    margin-left: 470px;
    margin-top: 20px;
}
.img-div{
    padding-left: 170px;
    padding-top: 50px;
}
.username-name{
    font-size: 40px;
    padding-left: 90px;
    padding-top: 20px;
}
.main--text{
    display: inline;
}
.main-text-ul1{
    display: flex;
    padding-left: 130px;
    padding-top: 40px;
}
.main-text-ul2{
    display: flex;
    padding-left: 134px;
    padding-top: 10px;
}
.web-site-icon{
    display: flex;
    /* padding: 0px, 25px; */
}